# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native files
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro Bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS system files
.DS_Store
*.pem

# Local environment files
.env*.local

# TypeScript build files
*.tsbuildinfo

# IDE and editor settings
.idea/
.vscode/

# Build and IDE folders
.gradle/
.npm/
.yarn/

# Untracked Expo build directories
android/
ios/

ElevatedDiagnostics/

